
body{
margin:0;
background:black;
color:white;
font-family:Tahoma;
text-align:center;
}

.header{
padding:40px;
}

.logo{
width:250px;
box-shadow:0 0 40px red;
border-radius:15px;
}

.title{
font-size:45px;
color:red;
margin-top:15px;
}

.nav a{
margin:10px;
color:white;
text-decoration:none;
border:1px solid red;
padding:10px 20px;
}

.nav a:hover{
background:red;
}

.section{
margin-top:50px;
}

.card{
border:1px solid red;
margin:20px auto;
padding:20px;
width:300px;
}

input,button{
padding:10px;
margin:10px;
background:black;
color:white;
border:1px solid red;
}

button:hover{
background:red;
}
